version: "3.9"

services:
  web:
    build: ./web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./app:/var/www/html:z
      - ./web/default.conf:/etc/nginx/conf.d/default.conf
      - ./web/certs:/etc/nginx/certs
    depends_on:
      - php
    user: root

  php:
    build: ./php
    volumes:
      - ./app:/var/www/html:z